<form class="form-horizontal" method="post" action="#/registration">
    <fieldset>
        <legend>Register</legend>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputUsername">Username</label>
            <div class="col-sm-4 ">
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputPassword">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" required
                       name="passwd">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Confirm Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password" required
                       name="confirmPasswd">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Avatar</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="avatar" placeholder="URL Avatar"
                       name="avatar">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">First Name</label>
            <div class="col-sm-4 ">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-4 ">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Email</label>
            <div class="col-sm-4 ">
                <input type="text" class="form-control" id="email" placeholder="Email" name="email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Phone Number</label>
            <div class="col-sm-4 ">
                <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="phone">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-default" href="#/home">Cancel</a>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </fieldset>
</form>