<form class="form-horizontal" method="post" action="#/admin/models/add/{{brand_id}}">
    <fieldset>
        <legend>Add model to <b>{{name}}</b></legend>
        <div class="form-group">
            <label class="col-sm-4 control-label">Model Name</label>
            <div class="col-sm-4 ">
                <input class="form-control" placeholder="Model Name" name="name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-default" href="#/admin/models">Cancel</a>
                <button class="btn btn-success">Add Model</button>
            </div>
        </div>
    </fieldset>
</form>