<form class="form-horizontal" method="post" action="#/admin/models/edit/{{model_id}}">
    <fieldset>
        <legend>Edit Model</legend>
        <div class="form-group">
            <label class="col-sm-4 control-label">Model Name</label>
            <div class="col-sm-4 ">
                <input class="form-control" id="inputEmail" value="{{model}}" name="name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-default" href="#/admin/models">Cancel</a>
                <button class="btn btn-success">Edit</button>
            </div>
        </div>
    </fieldset>
</form>