{{#each brands}}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list"></span>{{name}}
        </div>
        <div class="panel-body">
            <ul class="list-group">
                {{>model}}
            </ul>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="pull-right" style="margin-right: 10px">
                    <a href="#/admin/models/add/{{name}}" stype="button" class="btn btn-sm btn-success"><i
                            class="glyphicon glyphicon-plus pu"></i> Add New Model</a>
                </div>
            </div>
        </div>
    </div>
{{/each}}