<form id="formSearchForAds" class="form">
    <div><input type="text" name="adSearch" placeholder="Search for your ad here" required/></div>
    <div><input type="date" name="date" placeholder="Enter date" required/></div>
    <div><input type="text" name="location" placeholder="Enter location" required/></div>
    <div><input type="range" name="price" required/></div>
    <div><input type="button" id="buttonSearchForAds" value="Search"/></div>
</form>