<figure class="snip1492">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample85.jpg" alt="sample85" />
    <figcaption>
        <h3>Pudol Doux</h3>
        <p>All this modern technology just makes people try to do everything at once.</p>
        <div class="price">
            <s>$24.00</s>$19.00
        </div>
    </figcaption><i class="ion-plus-round"></i>
    <a href="#"></a>
</figure>
<figure class="snip1492 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample60.jpg" alt="sample60" />
    <figcaption>
        <h3>Kurie Secco</h3>
        <p>To make a bad day worse, spend it wishing for the impossible.</p>
        <div class="price">
            <s>$29.00</s>$39.00
        </div>
    </figcaption><i class="ion-plus-round"></i>
    <a href="#"></a>
</figure>
<figure class="snip1492"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" alt="sample74" />
    <figcaption>
        <h3>Zosaisan Invec</h3>
        <p>Why should I have to work for everything? It's like saying that I don't deserve it.</p>
        <div class="price">
            <s>$35.00</s>$45.00
        </div>
    </figcaption><i class="ion-plus-round"></i>
    <a href="#"></a>
</figure>