<aside class="lg-side">
    <div class="inbox-head">
        <h3>Inbox</h3>
    </div>
    <div class="inbox-body">
        <table class="table table-inbox table-hover">
            <tbody>
            {{>msgTemp}}
            </tbody>
        </table>
    </div>
</aside>