<form method="post" action="#/user/msg/signleMsg/{{data._id}}">
    <textarea class="form-control" placeholder="type a message" id="msgText" name="msgText"></textarea>
    <input type="hidden" value="{{data.sender}}" name="recipient" id="recipient">


    <div class="clearfix"></div>
    <div class="chat_bottom">
        <input type='submit' class="pull-right btn btn-success" value="Send">
    </div>
</form>