<form class="form-horizontal" method="post" action="#/admin/brands/new">
    <fieldset>
        <legend>Add New Brand</legend>
        <div class="form-group">
            <label class="col-sm-4 control-label">Brand Name</label>
            <div class="col-sm-4 ">
                <input type="text" class="form-control" id="inputEmail" placeholder="Brand Name" name="name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-default" href="#/admin/brands">Cancel</a>
                <button type="submit" class="btn btn-success">Add Brand</button>
            </div>
        </div>
    </fieldset>
</form>