<header>
    <!-- Logo -->
    <img src="" alt="">

    <!-- Navigation -->
    <a href="#/home" id="linkHome" class="menu-item" >Home</a>
    <a href="#/login" id="linkLogin" class="menu-item">Login</a>
    <a href="#/registration" id="linkRegister" class="menu-item">Register</a>
    <a href="#" id="linkListAds" class="menu-item">Categories</a>
    <a href="#" id="linkContactUs" class="menu-item">Contact Us</a>
    <a href="#" id="linkCreateAd" class="menu-item">Create New Advertisement</a>
    <a href="#" id="linkLogout" class="menu-item">Logout</a>
    <span id="loggedInUser" class="menu-item"></span>
</header>