<div class="col-sm-3">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="single category">
                <h3 class="side-title">Category</h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">Business <span class="pull-right">13</span></a></li>
                    <li><a href="" title="">Technology <span class="pull-right">13</span></a></li>
                    <li><a href="" title="">Web <span class="pull-right">13</span></a></li>
                    <li><a href="" title="">Ecommerce <span class="pull-right">13</span></a></li>
                    <li><a href="" title="">Wordpress <span class="pull-right">13</span></a></li>
                    <li><a href="" title="">Android <span class="pull-right">13</span></a></li>
                    <li><a href="" title="">IOS <span class="pull-right">13</span></a></li>
                    <li><a href="" title="">Windows <span class="pull-right">13</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>