<div class="panel panel-info" style="padding: 15px">
    <form class="form-horizontal" method="POST" action="#/search/advanced">
        <fieldset>
            <legend>Advanced Search</legend>
            <div class="form-group">
                <label class="col-sm-4 control-label"
                       for="category">Brand</label>
                <div class="col-sm-8">
                    <select class="form-control" id="advancedBrand" name="advancedBrand">
                        {{#each brands}}
                            <option value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"
                       for="category">Model</label>
                <div class="col-sm-8">
                    <select class="form-control" id="advancedModel" name="advancedModel">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"
                       for="category">City</label>
                <div class="col-sm-8">
                    <select class="form-control" id="advancedCity" name="advancedCity">
                        <option value="all">All cities</option>
                        {{#each advancedCities}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Mileage up to</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="advancedMileage" placeholder="Max Mileage"
                           name="advancedMileage">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Price up to</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="advancedPrice" placeholder="Max Price"
                           name="advancedPrice">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <button class="btn btn-success">Search</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>